In [1]:
import pandas as pd

import matplotlib.pyplot as plt

from matplotlib.ticker import FuncFormatter
from matplotlib import cm
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
from matplotlib.dates import (YEARLY, MONTHLY, DateFormatter, MonthLocator,DayLocator,
                              rrulewrapper, RRuleLocator, drange)
import matplotlib.image as mpimg
from matplotlib.animation import FuncAnimation
from matplotlib.offsetbox import TextArea, DrawingArea, OffsetImage, AnnotationBbox
import matplotlib.colors as colors

import numpy as np
from datetime import datetime,timedelta
import seaborn as sns
%matplotlib inline

import urllib.request
from adjustText import adjust_text
import matplotlib.image as mpimg
from matplotlib.animation import FuncAnimation
from matplotlib.offsetbox import TextArea, DrawingArea, OffsetImage, AnnotationBbox

In [2]:
path_datos='https://cnecovid.isciii.es/covid19/resources/casos_hosp_uci_def_sexo_edad_provres.csv'

In [3]:
datos_raw = pd.read_csv(path_datos)

In [4]:
datos_raw

,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
0,A,H,0-9,2020-01-01,0,0,0,0
1,A,H,10-19,2020-01-01,0,0,0,0
2,A,H,20-29,2020-01-01,0,0,0,0
3,A,H,30-39,2020-01-01,0,0,0,0
4,A,H,40-49,2020-01-01,0,0,0,0
...,...,...,...,...,...,...,...,...
723445,ZA,NC,50-59,2021-03-30,0,0,0,0
723446,ZA,NC,60-69,2021-03-30,0,0,0,0
723447,ZA,NC,70-79,2021-03-30,0,0,0,0
723448,ZA,NC,80+,2021-03-30,0,0,0,0
723449,ZA,NC,NC,2021-03-30,0,0,0,0

In [5]:
datos_raw['provincia_iso'].unique()

array(['A', 'AB', 'AL', 'AV', 'B', 'BA', 'BI', 'BU', 'C', 'CA', 'CC',
       'CE', 'CO', 'CR', 'CS', 'CU', 'GC', 'GI', 'GR', 'GU', 'H', 'HU',
       'J', 'L', 'LE', 'LO', 'LU', 'M', 'MA', 'ML', 'MU', nan, 'NC', 'O',
       'OR', 'P', 'PM', 'PO', 'S', 'SA', 'SE', 'SG', 'SO', 'SS', 'T',
       'TE', 'TF', 'TO', 'V', 'VA', 'VI', 'Z', 'ZA'], dtype=object)

In [6]:
datos_raw[datos_raw['provincia_iso']=='MU'][:-30].tail(30)

,provincia_iso,sexo,grupo_edad,fecha,num_casos,num_hosp,num_uci,num_def
721170,MU,H,0-9,2021-03-29,0,0,0,0
721171,MU,H,10-19,2021-03-29,0,0,0,0
721172,MU,H,20-29,2021-03-29,3,0,0,0
721173,MU,H,30-39,2021-03-29,1,0,0,0
721174,MU,H,40-49,2021-03-29,3,0,0,0
721175,MU,H,50-59,2021-03-29,0,0,0,0
721176,MU,H,60-69,2021-03-29,0,0,0,0
721177,MU,H,70-79,2021-03-29,0,0,0,0
721178,MU,H,80+,2021-03-29,0,0,0,0
721179,MU,H,NC,2021-03-29,16,0,0,0
721180,MU,M,0-9,2021-03-29,0,0,0,0
721181,MU,M,10-19,2021-03-29,1,0,0,0
721182,MU,M,20-29,2021-03-29,2,0,0,0
721183,MU,M,30-39,2021-03-29,0,0,0,0
721184,MU,M,40-49,2021-03-29,5,0,0,0
721185,MU,M,50-59,2021-03-29,3,0,0,0
721186,MU,M,60-69,2021-03-29,0,0,0,0
721187,MU,M,70-79,2021-03-29,0,0,0,1
721188,MU,M,80+,2021-03-29,0,0,0,0
721189,MU,M,NC,2021-03-29,21,0,0,0
721190,MU,NC,0-9,2021-03-29,0,0,0,0
721191,MU,NC,10-19,2021-03-29,0,0,0,0
721192,MU,NC,20-29,2021-03-29,0,0,0,0
721193,MU,NC,30-39,2021-03-29,0,0,0,0
721194,MU,NC,40-49,2021-03-29,0,0,0,0
721195,MU,NC,50-59,2021-03-29,0,0,0,0
721196,MU,NC,60-69,2021-03-29,0,0,0,0
721197,MU,NC,70-79,2021-03-29,0,0,0,0
721198,MU,NC,80+,2021-03-29,0,0,0,0
721199,MU,NC,NC,2021-03-29,0,0,0,0

In [7]:
datos_raw.groupby(['fecha']).sum()['num_def'].sum()

73847

In [ ]:
# Creamos la figura desde Matplotlib
#plt.figure()
XmajorFmt = DateFormatter('%-d%-b%y')
color_observadas = 'black'
color_esperadas = 'grey'
color_sanidad = 'red'
colores = sns.color_palette("Blues_r", 5)
color_ejes ='black'
color_titulos = 'black'
titulo = 'Series de fallecidos por edad desde el fichero csv de Sanidad'

# Initialize the FacetGrid object

sns.plotting_context('paper', font_scale = 1.3)
g = sns.catplot(data=datos_raw,x='fecha',y='num_def',col='provincia_iso',hue='grupo_edad',col_wrap=8,aspect=2, 
                      margin_titles=True,height=3,sharey=False,estimator=sum,kind='strip',ci=None)

for ax in g.axes.flatten():
    ax.xaxis.set_tick_params(labelsize=12,labelcolor=color_texto,width=0,pad=0)
    ax.xaxis.set_major_formatter(Xmajorfmt)
       
g.set_titles("")
#g.set(yticks=[])
g.set(xlabel='')

g.despine(bottom=True, left=True)
g.fig.suptitle('{}'.format(titulo),fontsize=18,color=color_titulos)
g.fig.subplots_adjust(top=.9,bottom=.1,wspace=0.1,hspace=0.1)

g.fig.text(x=.85,y=.85,s='@walyt',color=color_ejes,fontsize=12)

plt.savefig('img/facet_edad.png',dpi=288)  
#plt.tight_layout()
plt.show()