

# Objetivo

En este trabajo vamos a analizar los datos epidemiológicos generados por el grupo de trabajo [#escovid19data](https://github.com/montera34/escovid19data). Siguiendo los procesos estándares descargaremos los datos desde gitub, analizaremos los campos y prepararemos una serie de gráficas como ayuda para entender como estñá progresando la enfermedad.


@author: Manuel H. Arias 

@Twitter: @walyt

@mail: mharias@me.com

## Importación de librerias estándares para DAE

In [38]:
import pandas as pd

import matplotlib.pyplot as plt

from matplotlib.ticker import FuncFormatter
from matplotlib import cm
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
from matplotlib.dates import (YEARLY, MONTHLY, DateFormatter, MonthLocator,DayLocator,
                              rrulewrapper, RRuleLocator, drange)
import matplotlib.image as mpimg
from matplotlib.animation import FuncAnimation
from matplotlib.offsetbox import TextArea, DrawingArea, OffsetImage, AnnotationBbox
import matplotlib.colors as colors

import numpy as np
from datetime import datetime,timedelta
import seaborn as sns
%matplotlib inline

import urllib.request

import matplotlib.image as mpimg
from matplotlib.animation import FuncAnimation
from matplotlib.offsetbox import TextArea, DrawingArea, OffsetImage, AnnotationBbox

## Descargamos la información

Hacemos en primer lugar una actualización de parámetros y preparación de variables que necesitaremos durante el ejercicio

In [39]:
pd.options.display.max_rows = 999 #Variable de contexto para permitir la presentación de datos por pantalla
pd.set_option('display.max_columns', None)

In [40]:
#fuente de pdatos
data_path = '/Users/mharias/documents/proyectos/covid/sanidad_hospital/data/datos_sanidad_hosp.csv'
img_path = '/Users/mharias/documents/proyectos/covid/sanidad_hospital/img/'

In [41]:
hashtag_fuente='#escovid19data' #hashtag de la fuente para los créditos

Leemos los datos en un `pandas`

In [42]:
df = pd.read_csv(data_path)

veamos una rápida descripción de la información:

In [43]:
df.describe()

       Hosp_Totales  Hosp_actual   UCI_actual  Ingresos_24horas  Altas_24horas
count   4218.000000  1463.000000  1463.000000       1463.000000    1463.000000
mean     158.268301   264.316553   158.336979        103.942584      97.263841
std      542.535507   279.939652   186.808755        130.976040     131.407830
min        1.000000     1.000000     0.000000          0.000000       0.000000
25%        2.649750     4.498000    38.000000         19.000000      16.000000
50%        7.759500   182.000000    84.000000         51.000000      44.000000
75%       29.448250   469.000000   206.000000        133.000000     122.000000
max     4991.000000   996.000000   824.000000        684.000000     729.000000

y un muestreo de valores y de algunas columnas de interés:

In [44]:
df.head()

,fecha,ccaa,Hosp_Totales,Hosp_7días,UCI_Totales,UCI_7dias,Hosp_actual,%CamasCovid,UCI_actual,%CamasUCI,Ingresos_24horas,Altas_24horas
0,2020-04-27,Madrid,39.472,,3.309,,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-04-27,La Rioja,1.392,12,85,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-04-27,País Vasco,6.457,31,538,5,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-04-27,Navarra,1.942,0,130,1,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-04-27,Murcia,627.000,0,106,0,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df.tail()

,fecha,ccaa,Hosp_Totales,Hosp_7días,UCI_Totales,UCI_7dias,Hosp_actual,%CamasCovid,UCI_actual,%CamasUCI,Ingresos_24horas,Altas_24horas
4213,2021-02-15,Asturias,6.931,281,512,23,668.000,"19,13%",131.0,"39,34%",42.0,16.0
4214,2021-02-15,Aragón,11.944,300,1.07,27,670.000,"15,94%",89.0,"37,71%",34.0,13.0
4215,2021-02-15,Andalucía,34.092,726,3.34,39,3.429,"18,94%",664.0,"34,35%",191.0,204.0
4216,2021-02-15,Ceuta,256.000,4,30,0,28.000,"14,00%",7.0,"41,18%",1.0,1.0
4217,2021-02-15,La Rioja,3.129,50,350,5,168.000,"20,07%",48.0,"55,17%",1.0,8.0

In [46]:
def formato_(x):
    if x is np.NaN:
        return x
    else:
        return float(x[:-2].replace(',','.'))

In [47]:
df['%CamasUCI'] = df['%CamasUCI'].apply(formato_)
df['%CamasCovid'] = df['%CamasCovid'].apply(formato_)

In [48]:
comunidades = sorted(df['ccaa'].unique())

Vamos a formatear correctamente la columna `Date`, para posteriormente ordenar el $pandas$ por fecha creciente:

In [49]:
df['fecha']=pd.to_datetime(df['fecha'],format='%Y-%m-%d')

In [50]:
df.sort_values(['fecha']).tail()

,fecha,ccaa,Hosp_Totales,Hosp_7días,UCI_Totales,UCI_7dias,Hosp_actual,%CamasCovid,UCI_actual,%CamasUCI,Ingresos_24horas,Altas_24horas
4200,2021-02-15,País Vasco,11.784,3,985,6,758.0,15.16,161.0,35.70,47.0,37.0
4199,2021-02-15,Extremadura,5.591,92,482,13,257.0,8.66,50.0,23.58,8.0,8.0
4216,2021-02-15,Ceuta,256.000,4,30,0,28.0,14.00,7.0,41.18,1.0,1.0
4207,2021-02-15,Cantabria,2.443,85,321,12,150.0,9.27,27.0,20.77,11.0,7.0
4217,2021-02-15,La Rioja,3.129,50,350,5,168.0,20.07,48.0,55.17,1.0,8.0

In [51]:
df.columns

Index(['fecha', 'ccaa', 'Hosp_Totales', 'Hosp_7días', 'UCI_Totales',
       'UCI_7dias', 'Hosp_actual', '%CamasCovid', 'UCI_actual', '%CamasUCI',
       'Ingresos_24horas', 'Altas_24horas'],
      dtype='object')

In [52]:
campos = {'Almería':'daily_cases', 'Cádiz':'daily_cases', 'Córdoba':'daily_cases',
          'Granada':'daily_cases', 'Huelva':'daily_cases', 'Jaén':'daily_cases',
       'Málaga':'daily_cases', 'Sevilla':'daily_cases', 'Huesca':'casos_nuevos_aragon',
          'Teruel':'casos_nuevos_aragon', 'Zaragoza':'casos_nuevos_aragon', 
          'Asturias':'PCR','Balears, Illes':'PCR', 'Palmas, Las':'daily_cases', 
          'Santa Cruz de Tenerife':'daily_cases','Cantabria':'PCR',
          'Albacete':'daily_cases_PCR', 'Ciudad Real':'daily_cases_PCR',
          'Cuenca':'daily_cases_PCR', 'Guadalajara':'daily_cases_PCR',
       'Toledo':'daily_cases_PCR', 'Ávila':'daily_cases_PCR', 'Burgos':'daily_cases_PCR',
          'León':'daily_cases_PCR', 'Palencia':'daily_cases_PCR', 'Salamanca':'daily_cases_PCR',
       'Segovia':'daily_cases_PCR', 'Soria':'daily_cases_PCR', 'Valladolid':'daily_cases_PCR',
          'Zamora':'daily_cases_PCR', 'Barcelona':'daily_cases', 'Girona':'daily_cases',
       'Lleida':'daily_cases', 'Tarragona':'daily_cases', 'Ceuta':'new_cases',
          'Alicante/Alacant':'casos_nuevos_valencia','Castellón/Castelló':'casos_nuevos_valencia',
          'Valencia/València':'casos_nuevos_valencia','Badajoz':'new_cases', 'Cáceres':'new_cases',
       'Coruña, A':'daily_cases', 'Lugo':'daily_cases', 'Ourense':'daily_cases', 
          'Pontevedra':'daily_cases', 'Madrid':'daily_cases_PCR', 'Melilla':'PCR',
       'Murcia':'daily_cases', 'Navarra':'PCR', 'Araba/Álava':'casos_nuevos_paisvasco',
          'Bizkaia':'casos_nuevos_paisvasco', 'Gipuzkoa':'casos_nuevos_paisvasco',
       'Rioja, La':'PCR'}

# Gráficos

 A continuación vamos a crear un gráfico múltiple que nos permita visualizar cada una de las columnas con datos numéricos. Ello nos permitirá

Preparemos un gráfico tipo [Facetgrid](https://seaborn.pydata.org/generated/seaborn.FacetGrid.html), al que añadiremos tantos gráficos como provincias, presentando una de las columnas de datos. Elegimos nº de hospitalizados por 100.000 habitantes. Dejo otras claves con `#` para que fácilmente se puedan generar. Este ejemplo esta basado en el código del link anterior.

In [53]:
df.iloc[1]['fecha'].year

2020

In [54]:
df['fecha']

0      2020-04-27
1      2020-04-27
2      2020-04-27
3      2020-04-27
4      2020-04-27
          ...
4213   2021-02-15
4214   2021-02-15
4215   2021-02-15
4216   2021-02-15
4217   2021-02-15
Name: fecha, Length: 4218, dtype: datetime64[ns]

In [ ]:
# Creamos la figura desde Matplotlib
#plt.figure()

# Initialize the FacetGrid object
#pal = sns.cubehelix_palette(52, rot=-.25, light=.7)

with sns.plotting_context('paper', font_scale = 1.3):
    g = sns.FacetGrid(df,col='ccaa',hue='ccaa',col_wrap=3,aspect=3, 
                      margin_titles=False,height=1.5,sharey=True)

# Título

titulo = 'EVOLUCION DE OCUPACION DE CAMAS HOSPITAL Y UCI POR COVID \n Fuente Informes diarios Sanidad: {}'.format('15-feb')
color_titulos = 'navy'
color_uci='red'
color_covid='navy'

#g.fig.text(1, 0,'Fuente: {}'.format(hashtag_fuente), fontsize=10,horizontalalignment='right') #add text
#g.fig.text(1,0.01,'Código:{}'.format(github_url),
          # fontsize=10,horizontalalignment='right')
# Draw the densities in a few steps

XmajorFmt = DateFormatter('%-d-%-b')
fmt = '%.0f%%' # Format you want the ticks, e.g. '40%'
yticks = ticker.FormatStrFormatter(fmt)
def grafica(x, color, label):
    ax1 = plt.gca()
    ax1.xaxis_date()
    df_datos = df.loc[df['ccaa'] == label].sort_values(['fecha'])
   
    #ax1.fill_between(datos['date'].unique(), datos[AI],color=color_diarios)
    ax1.text(0.5, .8, label, fontweight="bold", color=color_titulos,
            ha="center", va="center", size=16,transform=ax1.transAxes)
    ax1.set_ylim(0,75)
    ax1.set_yticks([0,25,50,75])
    
    ax1.yaxis.set_major_formatter(yticks)
    #ax1.set_yticks([]
    ax1.yaxis.set_tick_params(labelsize=12,width=0,labelcolor=color_covid)
    #ax1.yaxis.set_major_locator(plt.MaxNLocator(5))
    ax1.xaxis.set_tick_params(labelsize=12,width=0,labelcolor=color_covid,rotation=45)
    ax1.xaxis.set_major_formatter(XmajorFmt)
    #ax1.set_xticks([])
    ax1.grid(True,axis='both',which='both')
    ax1.plot(df_datos['fecha'], df_datos['%CamasCovid'],lw=3,color=color_covid,label='A')
    
    
    ax2 = ax1.twinx()
    ax2.plot(df_datos['fecha'], df_datos['%CamasUCI'], lw=3, color=color_uci,label='B')
    ax2.yaxis.set_tick_params(labelsize=12,width=0,labelcolor=color_uci,pad=-10)
    ax2.yaxis.set_major_formatter(yticks)
    #ax2.set_ylim(0,4)
    #ax2.set_yticks([1])
    ax2.xaxis.set_major_formatter(XmajorFmt)
    
    ax2.set_ylim(0,75)
    ax2.set_yticks([0,25,50,75])
    ax2.set_yticks([])
    #ax2.xaxis.set_tick_params(labelsize=20,labelcolor='navy')
    #ax2.xaxis.set_major_locator(DayLocator([1]))
    #ax2.legend()
    
g.map(grafica,'ccaa')

#plt.legend()
g.set_titles("")
#g.set(yticks=[])
g.set(xlabel='')

g.despine(bottom=False, left=True)
g.fig.suptitle('{}'.format(titulo),fontsize=24,color='navy')
g.fig.text(x=.35,y=.05,s='EN ROJO CAMAS UCI POR COVID vs UCI TOTALES',color='red',fontsize=26)
g.fig.text(x=.35,y=.1,s='EN AZUL CAMAS HOSP POR COVID vs CAMAS TOTALES',color='navy',fontsize=26)

g.fig.subplots_adjust(top=.9,wspace=0.25,hspace=0.4)
plt.savefig(img_path+'uci_hosp_comunidades.png',dpi=288)  
# plt.tight_layout()
plt.show()