In [1]:
import pandas as pd

import matplotlib.pyplot as plt

from matplotlib.ticker import FuncFormatter
from matplotlib import cm
import matplotlib.dates as mdates
import matplotlib.ticker as ticker
from matplotlib.dates import (YEARLY, MONTHLY, DateFormatter, MonthLocator,DayLocator,
                              rrulewrapper, RRuleLocator, drange)
import matplotlib.image as mpimg
from matplotlib.animation import FuncAnimation
from matplotlib.offsetbox import TextArea, DrawingArea, OffsetImage, AnnotationBbox
import matplotlib.colors as colors

import numpy as np
from datetime import datetime,timedelta
import seaborn as sns
%matplotlib inline

import urllib.request
from adjustText import adjust_text
import matplotlib.image as mpimg
from matplotlib.animation import FuncAnimation
from matplotlib.offsetbox import TextArea, DrawingArea, OffsetImage, AnnotationBbox

In [2]:
comunidades={'Andalucía':8426405,
 'Aragón':1320794,
 'Asturias':1022293,
 'Cantabria':581684,
 'Ceuta':84843,
 'Castilla y Leon':2408083,
 'Castilla La Mancha':2035505,
 'Canarias':2207225,
 'Cataluña':7565099,
 'Extremadura':1065371,
 'Galicia':2700330,
 'Baleares':1187802,
 'Murcia':1487698,
 'Madrid':6640705,
 'Melilla':84714,
 'Navarra':649966,
 'País Vasco':2178048,
 'La Rioja':313582,
 'C. Valenciana':4974475}

In [3]:
pob_spain=0
for i in comunidades.keys():
    pob_spain+=comunidades[i]
comunidades['España']=pob_spain

In [4]:
path_local_csv = '/Users/mharias/Documents/proyectos/covid/vacunacion/csv/'
#path_escovid19data_csv = 'https://github.com/montera34/escovid19data/blob/master/data/original/vacunas/estado_vacunacion_.csv?raw=True'
path_img = '/Users/mharias/Documents/proyectos/covid/vacunacion/graficos/'

In [5]:
#datos_row = pd.read_csv(path_escovid19data_csv)

In [6]:
datos_row = pd.read_csv(path_local_csv+'estado_vacunacion_.csv')

In [7]:
dia = '17/3/21' # dia del informe

In [21]:
datos = datos_row.copy()

In [22]:
datos.loc[:,'ccaa'] = datos.apply(lambda x:'España' if x['ccaa']=='Totales' else x['ccaa'] ,axis=1)

In [23]:
datos.loc[:,'poblacion'] = datos.apply(lambda x:comunidades[x['ccaa']],axis=1)

In [24]:
datos.loc[:,'Tasa entregadas'] = 100000*datos['Dosis entregadas']/datos['poblacion']

In [25]:
datos.loc[:,'Tasa administradas'] = 100000*datos['Dosis administradas']/datos['poblacion']

In [26]:
datos.loc[:,'Tasa pautas'] = 100000*datos['Total pauta completada']/datos['poblacion']

In [27]:
datos['date_pub'] = pd.to_datetime(datos['date_pub'],format='%d/%m/%y')

In [28]:
primer_dia = datos['date_pub'][0]
ultimo_dia = list(datos['date_pub'])[-1]

In [29]:
un_dia=timedelta(days=1)

In [30]:
n_dias = (list(datos['date_pub'])[-1]-datos['date_pub'][0]).days

In [31]:
n_dias

72

Vamos a generar una tabla con los siguientes valores para las tres variables suministradas, administradas y pautas completas:
* valores últimas 24 horas
* valores última semana
* media última semana
* valores desde principio
* desde principio

In [32]:
columnas = ['ccaa','poblacion','Dosis entregadas','Tasa entregadas',
         'Dosis administradas','Tasa administradas',
        'Total pauta completada','Tasa pautas']

In [33]:
columns = pd.MultiIndex.from_product([['Entregadas','Administradas','Pautas'],['Hoy','Semana','Total']])

In [34]:
tabla = pd.DataFrame(columns=columns)

In [35]:
for comunidad in datos['ccaa'].unique():
    ayer = ultimo_dia-un_dia if ultimo_dia.dayofweek!=0 else ultimo_dia-3*un_dia
    entregadas_hoy = datos.loc[(datos['date_pub']==ultimo_dia) & (datos['ccaa']==comunidad),'Dosis entregadas'].values[0]-datos.loc[(datos['date_pub']==(ayer)) & (datos['ccaa']==comunidad),'Dosis entregadas'].values[0]
    entregadas_semana = datos.loc[(datos['date_pub']==ultimo_dia) & (datos['ccaa']==comunidad),'Dosis entregadas'].values[0]-datos.loc[(datos['date_pub']==(ultimo_dia-7*un_dia)) & (datos['ccaa']==comunidad),'Dosis entregadas'].values[0]
    entregadas_total = datos.loc[(datos['date_pub']==ultimo_dia) & (datos['ccaa']==comunidad),'Dosis entregadas'].values[0]
    
    administradas_hoy = datos.loc[(datos['date_pub']==ultimo_dia) & (datos['ccaa']==comunidad),'Dosis administradas'].values[0]-datos.loc[(datos['date_pub']==(ayer)) & (datos['ccaa']==comunidad),'Dosis administradas'].values[0]
    administradas_semana = datos.loc[(datos['date_pub']==ultimo_dia) & (datos['ccaa']==comunidad),'Dosis administradas'].values[0]-datos.loc[(datos['date_pub']==(ultimo_dia-7*un_dia)) & (datos['ccaa']==comunidad),'Dosis administradas'].values[0]
    administradas_total = datos.loc[(datos['date_pub']==ultimo_dia) & (datos['ccaa']==comunidad),'Dosis administradas'].values[0]
    
    pautas_hoy = datos.loc[(datos['date_pub']==ultimo_dia) & (datos['ccaa']==comunidad),'Total pauta completada'].values[0]-datos.loc[(datos['date_pub']==(ayer)) & (datos['ccaa']==comunidad),'Total pauta completada'].values[0]
    pautas_semana = datos.loc[(datos['date_pub']==ultimo_dia) & (datos['ccaa']==comunidad),'Total pauta completada'].values[0]-datos.loc[(datos['date_pub']==(ultimo_dia-7*un_dia)) & (datos['ccaa']==comunidad),'Total pauta completada'].values[0]
    pautas_total = datos.loc[(datos['date_pub']==ultimo_dia) & (datos['ccaa']==comunidad),'Total pauta completada'].values[0]
    valores=[entregadas_hoy,entregadas_semana,entregadas_total,
        administradas_hoy,administradas_semana,administradas_total,
        pautas_hoy,pautas_semana,pautas_total]
    tabla.loc[comunidad]=valores

In [36]:
tabla

                   Entregadas                       Administradas            \
                          Hoy     Semana      Total           Hoy    Semana
Andalucía            157960.0   157960.0  1354820.0       22576.0  164299.0
Aragón                33050.0    33050.0   240985.0        5212.0   29689.0
Asturias              29280.0    29280.0   223395.0        5583.0   30870.0
Baleares              20730.0    20730.0   145540.0        2281.0   23785.0
Canarias              37720.0    37720.0   297300.0        4217.0   36940.0
Cantabria             14790.0    14790.0   112425.0        2290.0   11340.0
Castilla y Leon       71680.0    71680.0   509755.0        9079.0   64011.0
Castilla La Mancha    46770.0    46770.0   353815.0        6185.0   33037.0
Cataluña             163440.0   163440.0  1241120.0       15958.0  105481.0
C. Valenciana        105190.0   105190.0   713840.0           2.0   49866.0
Extremadura           26040.0    26040.0   204405.0        5715.0   21072.0
Galicia               80030.0    80030.0   464875.0        9731.0   71041.0
La Rioja               8280.0     8280.0    58715.0         863.0    9501.0
Madrid               135330.0   135330.0  1028695.0       10908.0  109099.0
Murcia                27640.0    27640.0   243285.0        4355.0   33556.0
Navarra               14020.0    14020.0   113285.0        1285.0   13013.0
País Vasco            55820.0    55820.0   359500.0        8624.0   58837.0
Ceuta                   700.0      700.0     9890.0           0.0    1016.0
Melilla                 600.0      600.0     8620.0           3.0    1127.0
España              1029070.0  1029070.0  7684265.0      114867.0  867580.0

                                Pautas
                        Total      Hoy    Semana      Total
Andalucía           1135990.0  20015.0  108146.0   383206.0
Aragón               188111.0   3882.0   11191.0    62676.0
Asturias             171655.0   5068.0   17534.0    63411.0
Baleares             112889.0    259.0    6795.0    31581.0
Canarias             223811.0   3676.0   12330.0    69334.0
Cantabria             81573.0   2168.0    6384.0    28065.0
Castilla y Leon      389307.0   4871.0   23814.0   129760.0
Castilla La Mancha   245270.0   2449.0    8624.0    82563.0
Cataluña             915213.0  14840.0   48431.0   260858.0
C. Valenciana        486769.0      0.0   30388.0   154732.0
Extremadura          156742.0   3637.0   10219.0    57469.0
Galicia              360302.0   6261.0   24949.0   102070.0
La Rioja              47744.0    561.0    3024.0    14619.0
Madrid               803199.0   4410.0   20335.0   203552.0
Murcia               185005.0    617.0    6965.0    58598.0
Navarra               87756.0    587.0    4011.0    28816.0
País Vasco           248786.0   2776.0   13129.0    68401.0
Ceuta                  9278.0      0.0      90.0     2533.0
Melilla                7685.0      1.0     418.0     2371.0
España              5857085.0  76078.0  356777.0  1804615.0

In [37]:
def colores(x):
    df = tabla.copy()
    df.loc[:,('Entregadas',slice(None))] = 'color : midnightblue'
    df.loc[:,('Administradas',slice(None))] = 'color : darkviolet'
    df.loc[:,('Pautas',slice(None))] = 'color : darkgreen'
    return df

In [38]:

from IPython.display import HTML

def hover(hover_color="#ffff99"):
    return dict(selector="tr:hover",
                props=[("background-color", "%s" % hover_color)])

styles = [
    dict(selector="th", props=[("font-size", "100%"),
                               ("text-align", "center"),
                               ("color",'black')]),
    dict(selector="caption", props=[("font-size", "200%"),
                                    ("color",'black'),
                                    ("caption-side", "bottom"),
                                    ("text-align", "center")]) ]

estilo_columnas = {
    'Entregadas': [dict(selector='td', props=[('color', 'green')])],
    'Administradas': [dict(selector='td', props=[('color', 'red')])],
    }
html = (tabla.style.set_table_styles(styles)
          .set_properties(**{'color': 'navy',
                           'border-color': 'white'}).format(lambda x: '{:,.0f}'.format(x).replace(',','.')).\
                            set_caption('Valores Vacunación a {} tras {} días de campaña'.format(ultimo_dia.strftime('%-d %b'),n_dias)).
        set_table_styles(estilo_columnas,overwrite=False)).apply(colores,axis=None)
html